footer {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #cccccc;
    width: 100%;
    justify-content: center;
    position: absolute;
  }